////////////////////////////////////////////////////////////////////////////////
// Site
////////////////////////////////////////////////////////////////////////////////
#site {
	min-height: 100%;
}

////////////////////////////////////////////////////////////////////////////////
// Header
////////////////////////////////////////////////////////////////////////////////

#site-header {
	.top-bar {
		@include transition-property(max-height);
		@include transition-duration(1s);
		max-height: $topbar-height;
		height: auto;

		&.expanded {
			max-height: 600px;
		}
	}
}
