/** Sprites */

$category-icon-spacing: 1px;
@import "category-icon/*.png";
@include all-category-icon-sprites;

$theme-spacing: 1px;
@import "theme/*.png";
@include all-theme-sprites;

/** Loading */

.loading {
	background: url(images/loading.gif) no-repeat center center;
	background-size: 36px;
	min-height: 36px;
	min-width: 36px;
}

/** Slogan */

.slogan {
	color: white;
	min-height: 250px;
	overflow: hidden;
	position: relative;

	@media #{$small} {
		min-height: 500px;
	}
}

.slogan-background {
	left: 0;
	max-width: none;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	text-align: center;
	top: 0;
}

.slogan-content {
	left: 0;
	margin-top: -6.5em;
	position: absolute;
	top: 50%;
	width: 100%;

	@media #{$small} {
		margin-top: -9.5em;
	}
}

.slogan-title {
	@include text-shadow(rgba(black, 0.5) 0 0 5px);
	color: white;
	text-align: center;
	font-size: 2.3em;

	@media #{$small} {
		font-size: 4.3em;
	}
}

a.slogan-scroll-link {
	@include text-shadow(rgba(black, 0.5) 0 0 5px);
	bottom: 0;
	color: white;
	display: block;
	font-size: 1.5em;
	left: 0;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 100%;

	&:after {
		@include theme-sprite(scroll-arrow-white);
		content: '';
		display: block;
		height: theme-sprite-height(scroll-arrow-white);
		margin: 0.5em auto;
		width: theme-sprite-width(scroll-arrow-white);
	}
}

/** Post Wall */

.post-wall {
	padding-top: ($column-gutter/2);

	p { // to fix Wordpress insertion of paragraphs
		margin-bottom: 0;
	}

	.grid-sizer,
	.masonry-brick {
		width: 100%;

		@media #{$small} {
			width: 33.333%;
		}

		@media #{$medium} {
			width: 25%;
		}
	}

	.masonry-brick {
		padding: 0 ($column-gutter/2) ($column-gutter/2);
	}

	.post {
		&:after {
			color: $header-font-color;
			content: '•';
			display: block;
			font-size: 1.5em;
			text-align: center;
		}
	}

	.post-meta {
		color: $subheader-font-color;
		font-size: 0.9em;
		font-family: $header-font-family;
		font-style: $header-font-style;

		a {
			color: $subheader-font-color;
		}
	}

	.post-category-icon {
		float: right;
		height: 30px;
		width: 30px;
		margin-top: 0.5em;
	}

	.post-categories {
		text-transform: lowercase;
	}

	.post-title {
		font-family: inherit;
		font-size: 1.2em;
		font-style: normal;
		font-weight: bold;
		text-transform: uppercase;

		a { color: inherit; }
	}

	.post-thumbnail {
		width: 100%;
		height: auto;
		margin-bottom: 0.5em;
	}

	.post-link {
		color: $body-font-color;
	}

	.post-content p {
		margin-bottom: $paragraph-margin-bottom;
	}
}

a.post-wall-load-more-link {
	@extend a.slogan-scroll-link;
	color: $topbar-bg;
	position: relative;

	&:after {
		@include theme-sprite(scroll-arrow-black);
		margin-bottom: 0;
	}

	&.loading {
		background-position: bottom center;

		&:after {
			background: none;
		}
	}
}
