/** Loading */

.loading {
	background: url(images/loading.gif) no-repeat center center;
	background-size: 36px;
	min-height: 36px;
	min-width: 36px;
}

/** Slogan */

.slogan {
	color: white;
	min-height: 250px;
	overflow: hidden;
	position: relative;

	@media #{$small} {
		min-height: 500px;
	}
}

.slogan-background {
	background-position: center center;
	background-size: cover;
	left: 0;
	max-width: none;
	min-height: 120%;
	min-width: 100%;
	position: absolute;
	text-align: center;
	top: 0;
}

.slogan-content {
	left: 0;
	margin-top: -6.5em;
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;

	@media #{$small} {
		margin-top: -9.5em;
	}
}

a.slogan-scroll-link {
	@include text-shadow(rgba(black, 0.5) 0 0 5px);
	bottom: 0;
	color: #EDE290;
	display: block;
	font-size: 1.5em;
	left: 0;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 100%;

	&:after {
		@extend .theme-scroll-arrow-white;
		content: '';
		display: block;
		margin: 0.5em auto;
	}
}

/** Generic Wall */

a.wall-load-more-link {
	@extend a.slogan-scroll-link;
	color: $topbar-bg;
	position: relative;

	&:after {
		@extend .theme-scroll-arrow-black;
		margin-bottom: 0;
	}

	&.loading {
		background-position: bottom center;

		&:after {
			background: none;
		}
	}
}

.wall-no-results {
	padding: 0 ($column-gutter/2);
}

/** Post Wall */

.posts-wall {
	padding-top: ($column-gutter/2);

	p { // to fix Wordpress insertion of paragraphs
		margin-bottom: 0;
	}

	.grid-sizer,
	.masonry-brick {
		width: 100%;

		@media #{$small} {
			width: 50%;
		}

		@media #{$medium} {
			width: 33.333%;
		}

		@media #{$large} {
			width: 25%;
		}
	}

	.masonry-brick {
		padding: 0 ($column-gutter/2) ($column-gutter/2);
	}

	.post {
		&:after {
			color: $header-font-color;
			content: '•';
			display: block;
			font-size: 1.5em;
			text-align: center;
		}
	}

	.post-meta {
		color: $subheader-font-color;
		font-family: $header-font-family;
		font-style: $header-font-style;

		a {
			color: $subheader-font-color;
		}
	}

	.post-category-icon {
		float: right;
		margin-top: 0.5em;
	}

	.post-categories {
		text-transform: lowercase;
	}

	.post-title {
		font-family: inherit;
		font-size: 1.2em;
		font-style: normal;
		font-weight: bold;
		text-transform: uppercase;

		a { color: inherit; }
	}

	.post-thumbnail {
		width: 100%;
		height: auto;
		margin-bottom: 0.5em;
	}

	.post-link {
		color: $body-font-color;
	}

	.post-content p {
		margin-bottom: $paragraph-margin-bottom;
	}
}

.posts-wall-container {
	@include box-shadow(rgba(black, 0.8) 0 0 10px);
	position: relative;
	padding-bottom: 0.5em;

	> header {
		overflow: hidden;
		padding: 0 ($column-gutter/2);

		+ .posts-wall {
			padding-top: 0;
		}
	}
}

/** Thumbnails Wall */

.thumbnails-wall {
	@include grid-row();

	.thumbnails-wall-brick {
		@include grid-column(12);
		height: 300px;
		margin-bottom: $column-gutter/2;

		@media #{$small} {
			@include grid-column(6);
		}
	}

	.thumbnails-wall-content {
		height: inherit;
		overflow: hidden;
		position: relative;
	}

	.thumbnails-wall-open-label {
		@include transition(opacity 0.25s ease-in-out);
		font-weight: bold;
		margin: 1.1em 0;
		opacity: 0;
		text-transform: uppercase;
	}

	.post-thumbnail {
		@include transition(top 0.25s ease-in-out);
		min-height: 110%;
		min-width: 100%;
		position: absolute;
		top: 0;
	}

	.post-header {
		@include transition(top 0.25s ease-in-out);
		background: rgba(black, 0.6);
		color: white;
		height: 100%;
		left: 0;
		position: absolute;
		text-align: center;
		top: 0;
		width: 100%;
		z-index: 1;
		padding: 0 1em;
	}

	.post-title {
		color: inherit;
		text-transform: uppercase;
	}

	.post-excerpt {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.post-link {
		display: block;
		height: 100%;
		position: absolute;
		width: 100%;
		z-index: 2;
	}

	.thumbnails-wall-content:hover {
		.post-thumbnail { top: -10%; }
		.post-header { top: 80%; }
		.thumbnails-wall-open-label { opacity: 1; }
	}
}

/** Page children */
.page-children-dots {
	list-style: none;
	margin: auto 10px;
	padding: 0;
	position: fixed;
	top: $topbar-height; bottom: 0; right: 0;
	z-index: 2;

	li {
		margin: 10px 0;
		padding: 0;
	}

	a {
		@include border-radius(5px);
		display: block;
		width: 10px;
		height: 10px;
		background-color: #BEBEBE;
		overflow: hidden;
	}

	li.is-active a,
	a:hover {
		background-color: #7B7B7B;
	}
}

.page-child {
	position: relative;
}

.page-child-current-marker {
	position: absolute;
	top: 50%;
	visibility: hidden;
}

/** Single post */
.post-format-standard {
	.post-title {
		text-transform: uppercase;
		font-family: $body-font-family;
		font-weight: bold;
		font-size: 1.3em;
		margin-bottom: ($column-gutter/2);
	}

	.post-meta {
		margin-top: ($column-gutter/2);
		font-family: $header-font-family;
		font-style: $header-font-style;
	}

	.post-categories {
		margin-bottom: 10px;
		text-transform: lowercase;

		a {
			color: $body-font-color;
		}
	}

	.post-content {
		margin-bottom: ($column-gutter/2);
	}

	[data-post-slideshow], [post-slideshow], .post-slideshow {
		list-style: none;

		> li {
			margin-bottom: $column-gutter;
		}

		img {
			display: block;
			width: 100%;
		}
	}
}

/** Slideshow */
.horizontal-slideshow-wrapper {
	margin: 0 (-$column-gutter/2);
	overflow: auto;
}

.horizontal-slideshow-list {
	list-style: none;
	margin: 0;

	> li {
		float: left;
	}

	img {
		width: 100%;
	}
}
